nav {
    width: 100vw;
    height: 70px;
    box-shadow: 2px 0px 15px rgb(0, 0, 0);
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 50;
    background-color: white;
  }
  .nav-logo {
    font-family: American Typewriter, serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    padding: 20px;
    letter-spacing: 10px;
  }
  .nav-item {
    padding: 0px;
    margin-left: 0px;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: cursive;
  }
  
  .cart-icon {
    font-size: 2rem;
    margin-left: auto;
    padding: 20px;
    padding-right: 50px;
  }