.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex:1;
}
footer {
  margin-top: auto;
  height: 50px;
  text-align: center;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color:black;
}
a:hover {
  color: red;
}
nav {
  width: 100vw;
  height: 70px;
  box-shadow: 2px 0px 15px rgb(0, 0, 0);
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 50;
  background-color: white;
}
.nav-logo {
  font-family: American Typewriter, serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2rem;
  padding: 20px;
  letter-spacing: 10px;
}

.header-card,.items-card {
  width: 100%;
  height: 600px;
  background-image: url("../public/images/clothe.jpg");
  background-size: cover;
  margin-top: 70px;
}
.items-card {
    background-image: none;
    height: auto;;
    
}
.header-text {
  font-size: 3.5rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  color: white;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-container {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
.header-stat {
  width: 50%;
  height: 50%;
  padding: 20px;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.8);
}
.cart-icon {
  font-size: 2rem;
  margin-left: auto;
  padding: 20px;
  padding-right: 50px;
}
.category-container {
  width: 90%;
  text-align: center;
  margin: 15px auto;
}
.category-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.category-card,
.category-card-1,
.category-card-2,
.category-card-3 {
  width: 30%;
  height: 300px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 7px;
  text-align: center;
}
.category-card-1 {
  background-image: url(../public/images/clothe.jpg);
  background-size: cover;
}
.category-card-2 {
  background-image: url(../public/images/electronics.jpg);
  background-size: cover;
}
.category-card-3 {
  background-image: url(../public/images/games.jpg);
  background-size: cover;
}
.category-card:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 2px black;
}
.catergory-header {
  font-family: Luminari, fantasy;
  color: black;
  font-size: 3rem;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  letter-spacing: 4px;
}
.catergory-header:hover {
  color: white;
}
.category-inner {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.65);
}
.category-name {
  position: relative;
  top: 35%;
}
.category-inner:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.visit-btn {
  border: none;
  background: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}
.visit-btn:hover {
  color: red;
  cursor: pointer;
  border-color: red;
}
p {
  font-family: Courier New, monospace;
}

.card-image {
  width: 100%;
  height: 70%;
}
.card-name {
  width: 100%;
  height: 28%;
  border-radius: 4px;
  margin-top: 15px;
}
.product-name {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}
.item-header {
    width:70%;
    margin : 25px auto;
    padding-top: 50px ;
}
.item-header-text {
    font-size: 2.5rem;
    font-family: Marker Felt, fantasy;
}
input {
    cursor: pointer;

}
.filters {
    list-style: none;

}
li {
    display: inline;
    padding: 10px;
    margin: 10px;


}
li:hover {
    background-color: rgb(232, 232, 232);
}.nav-item {
    padding: 0px;
    margin-left: 0px;
    border:none;
    color:black;
    cursor: pointer;
    font-size:1.8rem;
    font-family:cursive;
}

.detail-gird-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-right: 1px solid silver;
  box-shadow: 0px 1px 3px black;
  border-radius: 10px;
  margin:100px;
}

.item-image {
  width: 100%;
  height:450px;
  border-radius: 9px 0px 0px 9px;
}
.item-desc {
  margin:15px;
}
.add-cart-section {
  display: flex;
  margin-top:20%;
}

#add-to-cart-btn, #add-to-cart-btn-left,#add-to-cart-btn-right{
  padding: 10px 20px;
  border-radius: 10px 0px 0px 10px;
  background-color: red;
  color: white;
  border:none;
}
#add-to-cart-btn {
  border-radius: 10px;
}
#add-to-cart-btn:active {
 background-color:  rgb(180,180,180);
 color:black;
}

#add-to-cart-btn-right{
  border-radius: 0px 10px 10px 0px;

}
#add-to-cart-btn-right:active{
  background-color: rgb(180, 180, 180);
  color:black
}
#add-to-cart-btn-right{
  border-radius: 0px 10px 10px 0px;

}
#add-to-cart-btn-left:active{
  background-color: rgb(180, 180, 180);
  color:black
}
.cart-buttons {
  margin-left: auto;
}
.cart-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top:100px;
  border:1px solid silver;
}
.cart-list-container {
  margin:20px 100px;  
}
.order-container{
  margin:100px;  
  margin-top:50px;
  
}
.cart-header {
  font-size:2rem;
  font-weight: bold;
  letter-spacing: 2px;;
}
.back-btn {
  padding:10px 20px;
  border: none;
  font-family:Courier New, monospace;;
  font-weight: bold;
  color:rgb(80, 80, 80);

}
.back-btn:hover {
  color: rgb(255, 9, 9);

}
.cart-item {
  display: flex;
  height:200px;
  margin-bottom:10px;
  border:1px solid #f59c9c;
  border-radius: 4px;
}
.cart-item-image {
  width: 50%;
  height: 100%;
}
.cart-item-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin:10px;
}
.cart-item-name {
  font-size:1.6rem;
  font-weight: bold;
}

.cart-item-price {
  margin-top:auto;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
}



.order-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top:50px;


}
.list-item-price,.list-item {
  padding:10px;
}
.list-item-price {
  text-align: right;
}
.list-item-price:hover {
  background-color: #eeeeee;
}
.list-item:hover {
  background-color: #eeeeee;
}
.checkout {
  width: 100%;
  background-color: black;
  border-radius: 4px;
  color:white;
  padding:10px;
  margin-top:10px;
}
.checkout:active {
  background-color: rgb(47, 0, 255);
}